<blockquote>
  <div class="author"><span class="name"><%= comment.user.name %></span> on <span class="date"> <%=l comment.created_at %> </span></div>
  <p><%= comment.body %></p>
</blockquote>

<p>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), [comment.post, comment],
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :destroy, comment %>
</p>
