<%= form_for([@post, @post.comments.build], :html => { :class => 'form-inline' }) do |f| %>
  <%= f.text_area :body, :rows => 6, :class => 'text_area span10', :id => 'focusedInput', :placeholder => 'Leave a comment…' %>
  <button class="btn btn-primary" type="submit"><i class="icon-pencil"></i> Post Comment</button>
<% end %>
